name: 签到

on:
  schedule:
    - cron: '25 2 25 7 *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout codes
        uses: actions/checkout@v4
      - name: Update system and install zsh
        run: |
          sudo -E apt-get -qq update
          sudo -E apt-get install zsh -y
          
      - name: Init Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
          
      - name: Start
        env:
            CONFIG: ${{ secrets.CONFIG }}
            KINGBASE_ARTICLE_ID: ${{ secrets.KINGBASE_ARTICLE_ID }}
            OB_CONFIG: ${{ secrets.OB_CONFIG }}
            GREATSQL_USER: ${{ secrets.GREATSQL_USER }}
            GREATSQL_PWD: ${{ secrets.GREATSQL_PWD }}
            PGFANS_USER: ${{ secrets.PGFANS_USER }}
            PGFANS_PWD: ${{ secrets.PGFANS_PWD }}
            MODB_USER: ${{ secrets.MODB_USER }}
            MODB_PWD: ${{ secrets.MODB_PWD }}
            GBASE_USER: ${{ secrets.GBASE_USER }}
            GBASE_PWD: ${{ secrets.GBASE_PWD }}
        run: |
          pip3 install requests pytz pycryptodome ddddocr
          python3 all_checkin.py
